body {
    background-image: url(sky.jpg);
    background-position: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.containerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    /* height: 170px; */
    background: rgb(109, 54, 161);
    text-align: center;
    border-radius: 10px;
}

.sectionTop {
    color: yellowgreen;
    font-family: Verdana;
    font-size: 1.2rem;
    width: 100%;
}

.sehriTime {
    background: rgb(152, 93, 207);
    border-radius: 10px 10px 0 0;
    padding: 10px 0px;
}

.sectionTop div span {
    color: rgba(255, 255, 0, 0.874);
}

.dayOfWeek {
    font-size: 1rem;
    text-align: end;
}

.sectionMid {
    background: skyblue;
    width: 100%;
    font-size: 1.2rem;
    color: rgb(52, 6, 6);
    padding: 18px 0;
}
.sectionMid div {
    margin-bottom: 10px;
}

.sectionMid div span {
    font-size: 1.5rem;
    color: rgb(92, 144, 8);
}

.sectionLower {
    color: rgb(163, 241, 8);
    font-family: Verdana;
    font-size: 1.2rem;
    width: 100%;
    padding-bottom: 20px;
}

.iftterTime {
    background: rgb(152, 93, 207);
    border-radius: 0 0 10px 10px;
    padding: 10px 0px;
    margin-bottom: 10px;
}
